.arrows{
    text-align: center;
    padding-top: 5%;
    .row{
        padding-left: 30%;
        padding-right: 30%;
        display: flex;
        flex-flow: row;
        .cell{
            align-items: center;
            justify-content: center;
            display: flex;
            width: 30%;
            height: 100px;
            border-right: 2px solid #66afe9;
            border-bottom: 2px solid #66afe9;
            font-weight: 650;
            color: #66afe9;
            font-size: 1.3rem;
            .block{
                display: block;
                flex-grow: 1;
                .arrow369{
                    margin-top: 0.3rem;
                    flex-grow: 1;
                    border-top: 2px solid #66afe9;
                }
            }
        }
        .center{
          
            justify-content: center;
        }
        #none-border{
            border-right: none;
        }
        #none-border1{
            border-right: none;
        }
        #none-border2{
            border-right: none;
            border-bottom: none;
        }
        #none{
            border-bottom: none;
        }
        #none1{
            border-bottom: none;
        }
    }
}
.show-arrows{
    background-color: #fcfaf6;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .the-arrows{
        .arrow{
            .title{
                color: #66afe9;
            }
        }
    }
    .emty-arrows{
        .arrow{
            .title{
                color: #66afe9;
            }
        }
    }
    .date{
        color: #66afe9;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .back{
        text-align: center;
        padding-bottom: 10%;
        button{
            margin-top: 1rem;
            width: 12rem;
            height: 2rem;
            background-color: #a2d5f2;
            color: #fafafa;
            font-weight: 650;
            border: none;
            border-radius: 4px;
        }
        button:hover{
            cursor: pointer;
            background-color: #07689f
        }
    }
}

@media only screen and (max-width: 768px) {
    .arrows{
        .row{
            padding-left: 10%;
            padding-right: 10%;
            .cell{
                height: 5rem;
            }
        }
    }
    .show-arrows{
        padding: 3%;
        padding-bottom: 10%;
        background-color: #ffff;
    }
}