.cscd-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 15rem;
    .cscdTitle{
        font-size: 2rem;
        color: #7579e7;
    }
    .cscdText{
        display: flex;
        justify-content: center;
        font-family: 00 18px/28px 'Noticia Text', sans-serif;
        .text{
            width: 100%;
            text-align: justify;
        }
        .imgCscd{
            margin-left: 5rem;
            margin-top: 1rem;
            img{
                width: 18rem;
                height: 8rem;
            }
        }
    }
    .cscdForm{
        justify-content: center;
        display: flex;
        input{
            padding: 2%;
            font-size: 1.3rem;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            width: 95%;
            height: 2rem;
            margin-top: 0.5rem;
        }
        select{
            margin-top: 0.5rem;
            margin-left: 1.5rem;
            position: relative;
            width: 5rem;
            height: 1.5rem;
            border: 1px solid #dbdbdb;
        }
        p{
            color: red;
        }
        .title-form{
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }
        .click{
            display: flex;
            justify-content: center;
            button{
                margin-top: 1rem;
                width: 100%;
                height: 2rem;
                background-color: #51adcf;
                color: #fafafa;
                font-weight: 650;
                border: none;
                border-radius: 4px;
            }
            button:hover{
                cursor: pointer;
                background-color: #0278ae;
            }
        }
        .date-gender{
            margin-top: 1rem;
            .gender{
                margin-top: 1rem;
            }
        }
    }
}
.show{
    background-color: #fcfaf6;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 10%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .showCscd{
        color: #707070;
        text-align: center;
        p{
            font-size: 1.5rem;
            font-weight: 650;
            margin: 0;
        }
        .number{
            font-size: 7rem;
            font-weight: 650;
        }
    }
    .img{
        text-align: center;
    }
    .date{
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        input{
            padding: 8px;
        }
    }
    .feature{
        .back{
            text-align: center;
            button{
                margin-top: 1rem;
                width: 12rem;
                height: 2rem;
                background-color: #ffc75f;
                color: #fafafa;
                font-weight: 650;
                border: none;
                border-radius: 4px;
            }
            button:hover{
                cursor: pointer;
                background-color: #ffbe0f;
            }
        }
        .note{
            font-size: 0.8rem;
        }
        a{
            text-decoration: none;
            color: #7579e7;
            font-size: 1.2rem;
        }
        a:hover{
            cursor: pointer;
            color: #0f3057;
        }
        .list-feature{
            .key-feature{
                p{
                    font-weight: 600;
                }
            }
        }
    }
 
}
@media only screen and (max-width: 768px) {
    .cscd-content{
        padding: 2%;
        .cscdTitle{
          display: none;
        }
        .cscdText{
            display: none;
        }
        .cscdForm{
            margin-top: 4rem;
            padding-bottom: 15rem;
        }
    }
    .show{
        padding: 3%;
        padding-bottom: 10%;
        background-color: #ffff;
    }
}