.background-container {
    width: 100vw;
    height: 100vh;
    z-index: -99;
  }
.home-main{
    display: flex;
    padding-left: 20%;
    padding-top: 0;
    padding-right: 5%;
    padding-bottom: 15%;
    margin-top: 0;
    .text{
      width: 60%;
      margin-top: 8rem;
      text-align: justify;
      color: #646464;
      font-size: 1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      .bold{
        text-align: left;
        font-size: 2rem;
        color: #351F39;
        font-weight: 650;
      }
      #textClick{
        text-align: center;
        p{
          color:#FF9292;
          text-align: center;
        }
        button{
          height: 2.5rem;
          width: 8rem;
          text-align: center;
          border-radius: 0.5rem;
          border: none;
          background-color: #0A0101;
          color: #fafafa;
          font-size: 1rem;
          a{
            text-decoration: none;
            color: #fafafa;
          }
        }
        button:hover{
          cursor: pointer;
        }
        button:focus{
         text-decoration: none;
        }
      }
      #textClick:hover{
        cursor: pointer;
      }
    }
    .homeImg{
      flex-grow: 1;
      img{
        width: 80%;
      }
    }
}
.home-mobile{
  margin-top: 3rem;
  display: none;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20rem;
  .mobileImg{
    img{
      width: 15em;
    }
  }
  .custom-text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #525962;
  }
  p{
    color: #351F39;
    text-align: center;
    font-size: 1rem;

  }
  button{
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: #0A0101;
    color: #fafafa;
    font-size: 1rem;
    a{
      text-decoration: none;
      color: #fafafa;
    }
  }
  button:hover{
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .home-main{
    margin: 0;
    .text{
      display: none;
    }
    .homeImg{
      text-align: center;
      img{
        margin-top: 5rem;
        width: 15rem;
      }
    }
  }
  .home-mobile{
    display: block;
  }
}
@media only screen and (max-width: 1080px){
  // .home-main{
  //   .homeImg{
  //     display: none;
  //   }
  //   .text{
  //    width: 100%;
  //    margin-left: 10%;
  //    margin-right: 10%;
  //    #textClick{
  //     button{
  //       margin-left: 0;
  //     }
  //   }
  // }
  // }
  .home-main{
    display: none;
    margin: 0;
    .text{
      display: none;
    }
    .homeImg{
      display: none;
      }
    }
    .home-mobile{
      display: block;
      .mobileImg{
        img{
          width: 17em;
        }
    }
  }
}
@media only screen and (max-width: 1450px){
  .home-main{
    justify-content: center;
    padding-left: 22%;
    padding-right: 5%;
  }
}
