.background-wrapper {
    position: fixed;
    z-index: -98;
    width: 100%;
    height: 100%;
}
.background {
    z-index: -97;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
.header{
    
    .close-menu{
       border-top: 1px solid #dbdbdb;
       border-bottom: 1px solid #dbdbdb;
       height: 3rem;
       line-height: 3rem;
       .menu{
        display: flex;
        justify-content: space-between;
        #home{
            font-size: 1.2rem;
        }
        .li{
            margin-right: 1rem;
            margin-left: 1rem;
            font-size: 0.8rem;
            font-weight: 600;
            color: #351F39;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
            a{
                text-decoration: none;
                color: #351F39;
            }
            img{
                width: 60%;
            }
        }
        .li a:hover{
            color: #7579e7;
        }
        #isCscd{
            a{
                color: #7579e7;
            } 
        }
        #isCsns{
            a{
                color: #7579e7;
            } 
        }
        #isArrows{
            a{
                color: #7579e7;
            } 
        }
    }
    
    }
    .header-mobile{
        display: none;
        justify-content: space-between;
        padding: 1rem;
        height: 2rem;
        line-height: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .mobile-logo{
            // justify-content: start;
            color: #4A47A3;
            font-size: 1.5rem; 
           img{
               height: 2.5rem;
           }
        }
        .mobile-exit{
            .btn{
                border: none;
                background: #ffffff;
            }
            button:hover{
                cursor: pointer;
            }
        }
    }
}
.mobile-menu{
    color: #525962;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .mobile-cancel{
        display: flex;
        justify-content: flex-end;
        padding: 2%;
        button{
            font-weight: initial;
            font-size: 1.5rem;
            border: none;
            background-color: #ffffff;
        }
        button:hover{
            cursor: pointer;
        }
    }
    .mobile-list{
        padding: 20%;
        padding-top: 10%;
        text-align: center;
        .mobile-custom{
            display: block;
        margin: 1rem;
        a{
            text-decoration: none;
            color: #525962;
    }
    a:hover{
        color: #25292e;
    }
    
        }  
        #isHome{
            a{
                color: #7579e7;
            }    
        }
        #isCscd{
            a{
                color: #7579e7;
            }    
        }
        #isCsns{
            a{
                color: #7579e7;
            }    
        }
        #isArrows{
            a{
                color: #7579e7;
            } 
        }
        
}
        
}
.footer{
    display: flex;
    border-top: 1px solid #dbdbdb;
    justify-content: center;

}
.footer-mobile{
    padding-bottom: 0;
    display: none;
    .follow{
        text-align: center;
        ul{
            padding: 0;
            li{
                display: inline-block;
                margin-left: 1.5rem;
            }
        }
        
    }
}
@media only screen and (max-width: 768px) {
    .header{
        .header-content{
            display: none;
        }
        .close-menu{
            display: none;
        }
        .header-mobile{
            display: flex;
        }
    } 
    .footer{
        display: none;
    }
    .footer-mobile{
        display: block;
        .follow{
            font-size: 0.8rem;
        }
    }
}
@media only screen and (max-width: 1080px) {
    .header{
        .header-content{
            display: none;
        }
        .close-menu{
            display: none;
        }
        .header-mobile{
            display: flex;
        }
    }
   
}
@media only screen and (min-width: 1450px) {
    .header{
        .header-content{
            padding-left: 10%;
            padding-right: 10%;
        }
        .close-menu{
            // padding-left: 10%;
            // padding-right: 10%;
        }
       
    }
}